/cmake-build-*/
/.cmake/
/build/
/out/

*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.exe
*.dll
*.pdb

.idea/
cmake-build-debug/
cmake-build-release/

.vscode/

.vs/
*.user
*.suo
*.sln.docstates

x64/
x86/
Debug/
Release/

.DS_Store
Thumbs.db
